@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@theme {
  --font-display: "Montserrat";
  --font-family-montserrat: "Montserrat", sans-serif;
  --color-bullion-orange: #fd5725;
  --color-bullion-blue: #2e74b2;
}
